<!DOCTYPE HTML>
<html>
<head>
    <title>Add Region</title>
    <link href="/static/plugin/bootstrap-5.0.2/css/bootstrap.css" rel='stylesheet' type='text/css'/>
    <link href="/static/css/style.css" rel='stylesheet' type='text/css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/static/js/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="/static/js/jquery.contentcarousel.js"></script>
    <!---calender-style---->
    <link rel="stylesheet" href="/static/css/jquery-ui.css"/>
    <!---//calender-style---->
    <script>
         $(function () {
        $("#StartDate, #EndDate").datepicker();
            $("#start_header_bottom").load("/start_header_bottom")
            $("#start_menu").load("/start_menu")
            $("#footer_bottom").load("/footer_bottom")

            $("[name='btnAddRegion']").click(function () {
                $("#frmAddRegion").submit();
            })
        });
    </script>
</head>
<body>
<!-- start header_bottom -->
<div id="start_header_bottom"></div>
<!-- start menu -->
<div id="start_menu"></div>
<!-- end menu -->
<div class="main">
    <div class="register-grids">
        <div class="container">
            <div class="register-top-grid">
                <form id="frmAddRegion" name="frmAddRegion" method="POST" class="row g-3" action="/add_region">
                    <div class="col-md-6">
                        <label for="RegionName" class="form-label">Region Name</label>
                        <input type="text" class="form-control" id="RegionName" name="RegionName" value="">
                    </div>
                    <div class="col-md-6">
                        <label for="RegionManagerID" class="form-label">Region Manager</label>
                        <select id="RegionManagerID" name="RegionManagerID" class="form-select">
                            <option>--Choose--</option>
                            {% for item in data_list_managers %}
                                <option value={{ item.EmployeeID }}>{{ item.EmployeeName }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        <button name="btnAddRegion" type="button" class="btn btn-success">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- footer_bottom -->
<div id="footer_bottom"></div>
</body>
</html>
