<div class="footer-bottom">
    <div class="container">
        <div class="row section group">
            <div class="col-md-4">
                <h4 class="m_7">Newsletter Signup</h4>
                <p class="m_8">Welcome to our fitness haven, where the pursuit of a healthier, stronger, and more vibrant you begins. Our gym is more than just a place to work out; it's a community-driven space that echoes with the rhythmic beats of dedication and perseverance.</p>
                <form class="subscribe">
                    <input type="text" value="Insert Email" onfocus="this.value = '';"
                           onblur="if (this.value == '') {this.value = 'Insert Email';}">
                </form>
                <div>
                    <button name="btnAdd" type="button" class="btn btn-danger">Submit</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="f-logo">
                    <img src="/static/images/logo.png" alt=""/>
                </div>
                <p class="m_9">The atmosphere here is charged with motivation, as like-minded individuals come together to sculpt their bodies and minds. Our dedicated team of trainers, each a beacon of inspiration, is here to guide you with expertise and passion. Whether you're into high-intensity workouts, cardio challenges, or zen-inducing yoga sessions, we've curated a diverse range of options to suit every fitness preference.</p>
                <p class="address">Phone : <span class="m_10">123-456-7890</span></p>
                <p class="address">Email : <span class="m_10">1234567890@gmail.com</span></p>
            </div>
            <div class="col-md-4">
                <ul class="list">
                    <h4 class="m_7">Menu</h4>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="trainers.html">Trainers</a></li>
                    <li><a href="/search_class">Courses</a></li>
                    <li><a href="/dashboard/daily_sales">Dashboards</a></li>
                    <li><a href="/my/order">My</a></li>
                    <li><a href="/login">Log</a></li>
                    <li><a href="/add_region">Manage</a></li>
                </ul>
                <ul class="list1">
                    <h4 class="m_7">Community</h4>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Forum</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Newsletter</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="copyright">
    <div class="container">
        <div class="copy">
            <p>(c) 2023 Template</p>
        </div>
        <div class="social">
            <ul>
                <li class="facebook"><a href="#"><span> </span></a></li>
                <li class="twitter"><a href="#"><span> </span></a></li>
                <li class="pinterest"><a href="#"><span> </span></a></li>
                <li class="google"><a href="#"><span> </span></a></li>
                <li class="tumblr"><a href="#"><span> </span></a></li>
                <li class="instagram"><a href="#"><span> </span></a></li>
                <li class="rss"><a href="#"><span> </span></a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>