<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ProductCategories_Sales</title>
    <link href="/static/plugin/bootstrap-5.0.2/css/bootstrap.css" rel='stylesheet' type='text/css'/>
    <script href="/static/plugin/bootstrap-5.0.2/js/bootstrap.js"></script>
    <script href="/static/plugin/bootstrap-5.0.2/js/bootstrap.esm.js"></script>
    <script href="/static/plugin/bootstrap-5.0.2/js/bootstrap.bundle.js"></script>

    <script src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/plugin/echart-5.4.3/echarts.min.js"></script>
    <link href="/static/css/style.css" rel='stylesheet' type='text/css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    }
    </script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/static/js/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="/static/js/jquery.contentcarousel.js"></script>

    <script>
        $(function () {
            $("#StartDate, #EndDate").datepicker();
            $("#start_header_bottom").load("/start_header_bottom")
            $("#start_menu").load("/start_menu")
            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('main'));

            // 指定图表的配置项和数据, ajax 获取数据
            $.ajax({
                type: 'GET',
                url: "http://127.0.0.1:5000/dashboard/productcategories_sales/get_data",
                dataType: 'json',
                success: function (data) {
                    var option = {
                        title: {
                            text: 'Top 2 courseTypes'
                        },
                        tooltip: {},
                        legend: {
                            data: ['Sales Volume']
                        },
                        xAxis: {
                            data: data['xAxis']
                        },
                        yAxis: {},
                        series: [
                            {
                                name: 'Sales Volume',
                                type: 'bar',
                                data: data['yAxis']
                            }
                        ]
                    };

                    // 使用刚指定的配置项和数据显示图表。
                    myChart.setOption(option);
                }
            })
            $("#footer_bottom").load("/footer_bottom")
        });
    </script>
</head>
<body>
<!-- start header_bottom -->
<div id="start_header_bottom"></div>
<div id="start_menu"></div>
<!-- end menu -->
<div class="main" style="width: 100%;height:400px;">
    <div class="register-grids">
        <div class="container">
            <div class="register-top-grid">
                <!-- 为 ECharts 准备一个定义了宽高的 DOM -->
                <div id="main" style="width: 100%;height:300px;"></div>
            </div>
        </div>
    </div>
</div>
<!-- footer_bottom -->
<div id="footer_bottom"></div>
</body>
</html>