<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SearchEmployee</title>
    <link href="/static/plugin/bootstrap-5.0.2/css/bootstrap.css" rel='stylesheet' type='text/css'/>
    <script href="/static/plugin/bootstrap-5.0.2/js/bootstrap.js"></script>
    <script href="/static/plugin/bootstrap-5.0.2/js/bootstrap.esm.js"></script>
    <script href="/static/plugin/bootstrap-5.0.2/js/bootstrap.bundle.js"></script>

    <script src="/static/js/jquery.min.js"></script>

    <link href="/static/css/style.css" rel='stylesheet' type='text/css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    }
    </script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/static/js/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="/static/js/jquery.contentcarousel.js"></script>
    <script>
        $(function () {
            $("#start_header_bottom").load("/start_header_bottom")
            $("#start_menu").load("/start_menu")
            $("#footer_bottom").load("/footer_bottom")

            $("[name='btnEdit']").click(function () {
                var id = $(this).val();
                $("#OperationalEmployeeID").val(id);
                $("#frm").attr("action", "/employee/editform");
                $("#frm").submit();
            })

            $("[name='btnDelete']").click(function () {
                var id = $(this).val();
                $("#OperationalEmployeeID").val(id);
                if (confirm("Are you sure to delete this employee?")) {
                    $("#frm").attr("action", "/delete_employee");
                    $("#frm").submit();
                }
            })

            $("#btnSearch").click(function () {
                $("#frmSearch").attr("action", "/search_employee")
                $("#frmSearch").submit();
            })

        });
    </script>
</head>
<body>
<!-- start header_bottom -->
<div id="start_header_bottom"></div>
<div id="start_menu"></div>
<!-- end menu -->
<div class="main">
    <div class="register-grids">
        <div class="container">
            <div class="register-top-grid">
                <form id="frmSearch" name="frmSearch" method="get" action="">
                    <div class="input-group mb-3">
                        <input type="text" id="SearchEmployeeName" name="SearchEmployeeName" class="form-control"
                               placeholder="EmployeeName"
                               aria-label="EmployeeName" aria-describedby="button-addon2" value="{{SearchEmployeeName}}" style="width: 40%">
                        <button class="btn btn-outline-secondary" type="button" id="btnSearch">Search</button>
                    </div>
                </form>
                <form id="frm" name="frm" method="post" action="">
                    <input type="hidden" id="OperationalEmployeeID" name="OperationalEmployeeID" value="">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">EmployeeName</th>
                            <th scope="col">Email</th>
                            <th scope="col">PhoneNumber</th>
                            <th scope="col">StoreName</th>
                            {% if session.get('EmployeeTypeID') == 3 %}
                            <th scope="col">EmployeeTypeName</th>
                            <th scope="col">JobTitle</th>
                            <th scope="col">Operation</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in data_list %}
                        <tr>
                            <th scope="row">{{loop.index}}</th>
                            <td>{{item.EmployeeName or ''}}</td>
                            <td>{{item.Email or ''}}</td>
                            <td>{{item.PhoneNumber or ''}}</td>
                            <td>{{item.StoreName or ''}}</td>
                            {% if session.get('EmployeeTypeID') == 3 %}
                            <td>{{item.EmployeeTypeName or ''}}</td>
                            <td>{{item.JobTitle or ''}}</td>
                            <td>
                                <button name="btnEdit" type="button" class="btn btn-primary" value="{{item.EmployeeID}}">
                                    Edit
                                </button>
                                <button name="btnDelete" type="button" class="btn btn-danger" value="{{item.EmployeeID}}">
                                    Delete
                                </button>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% if session.get('EmployeeTypeID') == 3 %}
                    <input name="btnAdd" type="button" class="btn btn-success" value="Add"
                           onclick="location.href='/add_employee'">
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>
<!-- footer_bottom -->
<div id="footer_bottom"></div>
</body>
</html>